
h1 {
    background-color: teal;
    padding: 20px;
    margin: 0;
    text-align:center;
}
div{
    width: 700px;
    background-image: url(brooke-lark-4J059aGa5s4-unsplash.jpg);
    color:crimson;
    background-repeat: repeat  ;
    
    
   
}
