
h1 {
    color: blue;
    padding: 20px;
    margin: 0;
    text-align:center;
}
img{
    background-image: url(images/brooke-lark-4J059aGa5s4-unsplash.jpg);
    width: 700px;
    height: 200px;
    bac

}